body {
    padding-right: 15%;
    padding-left: 15%;
    margin-bottom: 2%;
    font-family: sans-serif;
}


/*#bord {
    height: auto;
    width: 20%;
    float: left;
}
#exp {
    height: 20%;
    width: 80%;
    margin-left: 40%;
}
*/

.img-circle {
    width: 10%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
}

h1 {
    color: rgb(51, 117, 161);
    text-align: center;
    font-size: 54px;
    font-weight: bold;
}

h2 {
    border-bottom: solid 2px rgb(103, 197, 144);
    border-top: solid 2px rgb(103, 197, 144);
    font-size: 30px;
    font-family: Georgia;
    color: teal;
    font-weight: bold;
}

.emph {
    color: orange;
    font-style: italic;
}

.date {
    font-weight: bold;
}
.col {
    column-count: 2;
  }
/*
.col1 {
    width: 50%;
    float: left;
}

.col2 {
    width: 50%;
    margin-left: 60%;
}*/


.bord1 {
    background-color: rgba(97, 158, 160, 0.432);
    border: 2px solid  rgb(51, 179, 157);
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-top-right-radius: 1em;
    border-bottom-left-radius: 1em;
    margin-bottom: 10px;
}

.bord2 {
    background-color: rgba(97, 158, 160, 0.432);
    border: 2px solid rgb(44, 204, 204);
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-top-left-radius: 1em;
    border-bottom-right-radius: 1em;
    margin-bottom: 10px;
}

#navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: teal;
}
  
#navigation li {
  float: left;
}
 
#navigation li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
  
#navigation li a:hover {
  background-color: seagreen;
}


.flag {
	width: 32px;
	height: 32px;
	background:url(flags.png) no-repeat
}


.flag{display:inline-block;position: relative;width:16px;height:11px;background:url('https://flag-sprites.com/img/flags.png') no-repeat}.flag.flag-fr{background-position:-80px -44px}.flag.flag-eu{background-position:-256px -33px}.flag.flag-england{background-position:-192px -33px}.flag.flag-us{background-position:0 -154px}
